.login_container{
    display: flex;
    height: 100vh;
}
.img_container{
    flex: 1 1 50rem;
}
.img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.login_content{
    flex: 1 1 50rem;
    padding: 4rem 10rem;
}
.label-x{
    position: absolute;
    top: 20%;
    font-size: 1.1rem;
    margin-left: 1rem;
    z-index: -1;
}
.activex{
    font-size: .9rem;
    top: -14%;
    background-color: white;
    z-index: 1;
    color: rgb(114, 114, 114);
    padding: 0 .5rem;
}

.loading {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    
  }
  .loading span {
    display: inline-block;
    margin: .2rem;
  }

  .loading05 {
    perspective: 1000px;
  }
  
  .loading05 span {
    transform-origin: 50% 50% -.5rem;
    transform-style: preserve-3d;
    animation: loading05 1.6s infinite;
  }
  
  .loading05 span:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loading05 span:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .loading05 span:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  .loading05 span:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  .loading05 span:nth-child(6) {
    animation-delay: 0.5s;
  }
  
  .loading05 span:nth-child(7) {
    animation-delay: 0.6s;
  }
  
  @keyframes loading05 {
    0% {
      transform: rotateX(-360deg);
    }
    70% {
      transform: rotateX(0);
    }
  }
  

@media screen and (max-width:768px) {
    .login_content{
        padding: 4rem 5rem;
    }
}
@media screen and (max-width:468px) {
    .login_content{
        padding: 4rem 2.5rem;
    }
}